# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Hardhat
blockchain/artifacts
blockchain/cache
blockchain/coverage
blockchain/coverage.json
blockchain/typechain
blockchain/typechain-types

# React
frontend/build
frontend/node_modules
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Environment variables
.env

# IDE
.idea
.vscode
*.swp
*.swo

# Mac
.DS_Store